.container {
    background-color: #0D6EFD;
    margin-top: 15px;
    border-radius: 5px;
}

h3 {
    text-align: center;
    position: relative;
    top: 10px;
}

h3, label {
    color: #fff;
    text-transform: uppercase;

}

button {
    margin-bottom: 15px;
    margin-left: 37%;
    background-color: #000406 !important;
    color: rgb(255, 253, 253);
    border: 1px solid #5788d0;
    text-transform: uppercase;

}

button:hover {
    background-color: #d8dce3 !important;
    color: black;
    text-transform: uppercase;
    transition: 1s;
}
