<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Reddit</a>
  </div>
</nav>


<div class="container">
  <h3>Add a Link</h3>

  <div class="col-md-12">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" name="title" #newtitle>
  </div>
  <br>
  <div class="col-md-12">
    <label for="link" class="form-label">Link:</label>
    <input type="text" class="form-control" id="link" name="link" #newlink>
  </div>
  <br>
  <button class="btn btn-secondary col-md-3" (click)="addArticle(newtitle, newlink)">
    Submit Link
  </button>

  
</div>

<app-article *ngFor="let article of sortdArticles()" [article]="article"></app-article> 
<!--Basically, NgFor generates a temporary variable foobar and then we’re
passing it in to app-article-->

<router-outlet></router-outlet>
